<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Draw Platformer</title>

</head>

<body id="page-top">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>High Score</th>
                        <th>Upvotes</th>
                    </tr>
                {% for map in recent_maps %}
                    <tr>
                        <td>{{map.title}}</td>
                        <td>{{map.high_score}}</td>
                        <td>{{map.votes}}</td>
                    </tr>
                {% endfor %}
                </table>
</body>

</html>
