<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Draw Platformer</title>

</head>

<body id="page-top">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>High Score</th>
                        <th>Upvotes</th>
                        <th>Button</th>
                        <th>Image</th>
                    </tr>
                {% for map in recent_maps %}
                    <tr>
                        <td>{{map.title}}</td>
                        <td>{{map.high_score}}</td>
                        <td>{{map.votes}}</td>
                        <td><button onclick="upvote('{{map.title}}')">Upvote</button></td>
                        <td><img src="{{ map.input_img.url }}" height="200" width="200"></td>
                    </tr>
                {% endfor %}
                </table>
</body>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
    <script>
        function upvote(map_name) {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            if (Cookies.get(map_name)) {
                alert('already upvoted!');
            }
            else {
                $.post("/game/" + map_name + "/upvote/", {
                    upvote: 1
                },
                function(data, status) {
                });
                Cookies.set(map_name, 'true', {path: '' });
            }
        }
    </script>
    {% csrf_token %}

</html>
